development: &default_settings
  account: the_email
  password: the_password
  domain: the_domain
  port: the_port
  address: the_smtp_server_address

staging:
  <<: *default_settings

test:
  <<: *default_settings

production:
  <<: *default_settings
  account: <%= ENV['EMAIL'] %>
  password: <%= ENV['PASSWORD'] %>
  domain: <%= ENV['DOMAIN'] %>
  address: <%= ENV['ADDRESS'] %>
  port: <%= ENV['PORT'] %>
