development: &default_settings
  account: the_email
  password: the_password
  domain: the_domain

staging:
  <<: *default_settings

test:
  <<: *default_settings

production:
  <<: *default_settings
  account: <%= ENV['EMAIL'] %>
  password: <%= ENV['PASSWORD'] %>
  domain: <%= ENV['DOMAIN'] %>
  smtp: <%= ENV['SMTP'] %>
  port: <%= ENV['PORT'] %>
