%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    %h1
      Hola
    %p
      = simple_format BlueCloth.new(@contact.message).to_html
      %br
    %p
